<div class="row">
    <div class="column">
        <div class="callout alert">
            <p><strong>You are about to delete a widget.</strong> Are you sure you wish to delete this widget?</p>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="column">
        <button type="submit" class="button alert">
            <i class="fa fa-trash-o"></i>
            Delete
        </button>
        <a class="button secondary" data-close>
            <i class="fa fa-times"></i>
            Cancel
        </a>
    </div>
    {{ form_end(form) }}
</div>