<div class="row">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="column">
        <button type="submit" class="button success">
            <i class="fa fa-save"></i>
            Save
        </button>
        <a class="button secondary" data-close>
            <i class="fa fa-times"></i>
            Cancel
        </a>
    </div>
    {{ form_end(form) }}
</div>