
<div class="grid-container full">
    <div class="grid-x grid-margin-x {{ block_grid_classes|join(' ') }}">
        {% include '@content_widgets/widget_templates/shared/grid_cells.html.twig' %}
    </div>
</div>
