{% extends '@SamuelmcFdnContentWidgets/Shared/page.html.twig' %}

{% block content %}

    <h1>Container\WidgetContainer</h1>

    <div class="small-12 column container\widgetcontainer">
        {{ include('@SamuelmcFdnContentWidgets/Container\WidgetContainer/Container\WidgetContainerViewMode/container\WidgetContainer_detail.html.twig') }}
    </div>

{% endblock %}
