{% extends '@SamuelmcFdnContentWidgets/Shared/page.html.twig' %}

{% block content %}

    <h1>Widget\Widget</h1>

    <div class="small-12 column widget\widget">
        {{ include('@SamuelmcFdnContentWidgets/Widget\Widget/Widget\WidgetViewMode/widget\Widget_detail.html.twig') }}
    </div>

{% endblock %}
