{% if not widget.hidden or config.edit %}
    {% if config.edit %}
        {% include '@content_widgets/widget_templates/base/widget_editable.html.twig' %}
    {% else %}
        <div id="{{ config.type }}-{{ widget.id }}" class="widget {{ config.type }}">
    {% endif %}
        {% block widget %}

        {% endblock %}
        </div>
{% endif %}
