{% extends '@content_widgets/widget_templates/base/widget.html.twig' %}

{% block widget %}

    <div class="grid-container">
        <div class="grid-x grid-margin-x medium-up-3">
            <div class="cell">
                {{ widget_container(widget.column1) }}
            </div>
            <div class="cell">
                {{ widget_container(widget.column2)}}
            </div>
            <div class="cell">
                {{ widget_container(widget.column3) }}
            </div>
        </div>
    </div>
{% endblock %}
